@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary--color: #ff4d00;
    --black: #272829;
    --white: #eee;
    --gray: #7d7c7c;
    --gray-dark: #454545;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: var(--black);
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary--color);
    border-radius: 20px;
}


.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: var(--primary--color);
    z-index: 5;
    transform-origin: 0%;
  }

header{
    position: fixed;
    width: 100%;
    background-color: transparent;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
    transition: 1000ms ease;
    & img{
        width: 70px;
    }
    & .links ul{
        display: flex;
        gap: 1rem;
        list-style: none;
        & a{
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;
            color: var(--white);
            transition: 200ms ease-in;
        }
        & a:hover{
            color: var(--primary--color);
        }
    }
}
header.sticky{
    background-color: var(--black);
    padding: 10px 2.5%;
    box-shadow: 0 0 20px 5px var(--gray);
}

.title{
    margin-bottom: 20px;
    & h2{
        color: var(--white);
        font-size: 40px;
        margin-bottom: 10px;
        font-family: 'Syne', sans-serif;
        font-weight: 700;
    }
    & .line{
        width: 150px;
        height: 5px;
        border-radius: 6px;
        background-color: var(--primary--color);
    }
    & p{
        width: 65%;
        line-height: 30px;
        margin-top: 20px;
        color: var(--white);
    }
}
span{
    color: var(--primary--color);
    font-size: 18px;
    font-weight: 600;
}

#home{
    height: 100vh;
    padding-top: 100px;
    background: url('../assets/images/image2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;

    padding: 0 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    & h1{
        color: var(--white);
        font-size: 90px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: 'Syne', sans-serif;
    }

    & p{
        color: var(--white);
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 10px;
        width: 50%;
        line-height: 30px;

        
    }

    & button{
        padding: 15px 35px;
        border: none;
        font-size: 17px;
        font-weight: 600;
        color: var(--white);
        background-color: var(--primary--color);
        border-radius: 50px;
        border: solid 3px transparent;
        transition: 300ms ease;
        cursor: pointer;
    }
    & button:hover{
        background-color: var(--black);
        border: solid 3px var(--gray);
    }
}

#about{
    background-color: var(--black);
    padding: 100px 5%;
    color: var(--white);
    & .contents{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
        & .content{
            & p{
                line-height: 30px;
                font-size: 17px;
                color: var(--white);
                font-weight: 500;
                margin-bottom: 20px;
            }
        }
        & .book{
            & .form{
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 50px 60px;
                border-radius: 10px;
                box-shadow: -6px -6px 12px #151516,
                             6px 6px 12px #393b3c;
                
                & .input{
                    display: flex;
                    gap:  .5rem;
                    border: solid 3px var(--gray);
                    align-items: center;
                    padding: 15px 20px;
                    border-radius: 70px;
                    width: 80%;
                    margin-bottom: 20px;
                    & i{
                        color: var(--gray);
                    }
                    & input{
                        background-color: transparent;
                        color: var(--white);
                        font-size: 17px;
                        outline: none;
                        border: none;
                        caret-color: var(--primary--color);
                    }
                }

                & button{
                    border: solid 3px transparent;
                    padding: 15px 30px;
                    border-radius: 50px;
                    background-color: var(--primary--color);
                    color: var(--white);
                    font-weight: 500;
                    font-size: 17px;
                    cursor: pointer;
                    transition: 300ms ease;
                }
                & button:hover{
                    background-color: var(--black);
                    border-color: var(--white);
                }
            }
        }
    }
}

#class{
    padding: 100px 5% 50px 5%;
    color: var(--white);
    background-color: var(--black);

    & img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        transform: scale(1.05);
        transition: 300ms ease;
        filter: grayscale(100%) brightness(50%);
    }
    & .card:hover img{
        transform: scale(1);
        filter: grayscale(0%) brightness(100%);
    }

    & .cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        & .card{
            overflow: hidden;
            border-radius: 10px;
            box-shadow: -6px -6px 12px #151516,
                         6px 6px 12px #393b3c;
            
            & .contents{
                margin: 20px;
                position: relative;
                & h1{
                    text-align: right;
                    font-size: 100px;
                    color: var(--gray-dark);
                }
                & .content{
                    position: absolute;
                    bottom: 0;
                    z-index: 1;
                    & h3{
                        font-size: 30px;
                        font-weight: 700;
                        color: var(--gray);
                        margin-bottom: 10px;
                    }
                    & p{
                        line-height: 30px;
                        color: var(--white);
                        font-size: 17px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
#team{
    padding: 100px 5% 50px 5%;
    background-color: var(--black);
    & img{
        width: 100%;
        /* aspect-ratio: .7; */
        height: 60vh;
        border-radius: 10px;
        object-fit: cover;
        filter: brightness(70%);
        transition: 200ms ease;
    }
    & .gallery_item:hover img{
        filter: brightness(100%);
    }
    & .gallery_item{
        & .contents{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    & .gallery_item .contents:hover .img ul{
        bottom: 0;
    }
    & .img{
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 6px 6px 12px #393b3c;
        & ul{
            position: absolute;
            bottom: -46px;
            display: flex;
            gap: 1rem;
            background-color: var(--gray-dark);
            padding: 10px;
            border-radius: 10px 10px 0 0;
            list-style: none;
            left: 50%;
            transform: translate(-50%, 0);
            transition: 300ms ease;
            cursor: pointer;
            & i{
                color: var(--white);
                font-size: 25px;
                transition: 200ms ease;
            }
            & i:hover{
                color: var(--primary--color);
            }
        }
    }
    & h3{
        font-size: 25px;
        margin-top: 10px;
        color: var(--white);
    }

}
#pricing{
    padding: 100px 5% 50px 5%;
    background-color: var(--black);
    & .cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
        padding: 30px 5%;
        & .card{
            border-radius: 15px;
            position: relative;
            padding: 40px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: linear-gradient(to top, black 60%, var(--gray-dark));
            box-shadow: -6px -6px 12px #151516,
                         6px 6px 12px #393b3c;
            & h4{
                color: var(--primary--color);
                font-size: 25px;
                margin-bottom: 10px;
            }
            & h1{
                color: var(--white);
                font-size: 45px;
                margin-bottom: 20px;
            }
            & ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-bottom: 100px;
                align-items: center;
                & li{
                    color: var(--gray);
                    font-size: 17px;
                    font-weight: 500;
                }
            }
            & button{
                padding: 15px 35px;
                border: solid 3px transparent;
                border-radius: 60px;
                background-color: var(--primary--color);
                color: var(--white);
                font-size: 17px;
                font-weight: 500;
                cursor: pointer;
                transition: 300ms ease;
                position: absolute;
                bottom: 20px;
            }
            & button:hover{
                border-color: var(--white);
                background-color: var(--black);
            }
        }
    }
}
#schedule{
    padding: 100px 5% 50px 5%;
    color: var(--white);
    background-color: var(--black);
    & .accordion{
        margin-bottom: 15px;
        border-radius: 5px;
        background-color: var(--black);
        box-shadow: -6px -6px 12px #393b3c,
                         6px 6px 12px #151516;
        & .heading{
            color: var(--white);
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            font-weight: 500;
            padding: 15px;
        }
        & .icon{
            color: var(--primary--color);
            font-size: 35px;
        }
        & .cards{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2rem;
            & .card{
                padding: 20px;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                box-shadow: inset -6px -6px 12px #393b3c,
                        inset 6px 6px 12px #151516;
                & .line{
                    width: 100%;
                    height: 2px;
                    background-color: var(--primary--color);
                }
                & .up, .down{
                    display: flex;
                    justify-content: space-between;
                    & h3{
                        color: var(--gray);
                    }
                }
                & .down div{
                    display: flex;
                    gap: .6rem;
                    color: var(--gray);
                    font-weight: 600;
                    align-items: center;
                }
            }
        }
    }
}

@media screen AND (max-width: 1220px){
    #class{
        & .cards{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen AND (max-width: 1024px) {
    #schedule{
        & .accordion{
            & .cards{
                grid-template-columns: 1fr 1fr 1fr;
                gap: .5rem
            }
        }
    }
    #pricing{
        & .cards{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
}
@media screen AND (max-width: 980px) {
    #schedule{
        & .accordion{
            & .cards{
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}
@media screen AND (max-width: 830px){
    #about{
        & .contents{
            grid-template-columns: repeat(1, 1fr);
            & .form{
                padding: 10px 15px;
            }
        }
    }
}
@media screen AND (max-width: 720px){
    #class{
        & .cards{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
@media screen AND (max-width: 660px) {
    #schedule{
        & .accordion{
            & .cards{
                grid-template-columns: 1fr;
            }
        }
    }
    #pricing{
        & .cards{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .title{
        & p{
            width: 100%;
        }
        & h2{
            font-size: 25px;
            font-weight: 500;
        }
    }
    #home{
        align-items: center;
        text-align: center;
        & h1{
            font-size: 25px;
        }
        & p{
            width: 100%;
        }
        & button{
            font-size: 15px;
            padding: 10px 20px;
        }
    }
}







footer{
    padding: 30px 5%;
    background-color: var(--black);
    box-shadow: 0 0 20px 0 var(--gray);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    & img{
        width: 70px;
    }

    & .info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        & h3{
            color: var(--gray);
            font-size: 25px;
        }
        & .social{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            & ul{
                list-style: none;
                display: flex;
                gap: 1rem;
                & i{
                    font-size: 25px;
                    cursor: pointer;
                    transition: 300ms ease;
                }
                & i:hover{
                    color: var(--primary--color);
                }
            }
        }
        & .contact{
            & p{
                margin-top: 10px;
            }
            & h3{
                margin-bottom: 20px;
            }
        }
        & .more{
            & h2{
                color: var(--gray);
                font-size: 30px;
                margin-bottom: 20px;
            }
            & p{
                margin-bottom: 10px;
            }
            & button{
                padding: 15px 30px;
                border-radius: 60px;
                border: solid 3px transparent;
                color: var(--white);
                font-size: 17px;
                font-weight: 500;
                background-color: var(--primary--color);
                transition: 300ms ease;
                cursor: pointer;
            }
            & button:hover{
                border-color: var(--white);
                background-color: var(--black);
            }
        }
    }
    & .rights{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & p{
            line-height: 30px;
            width: 70%;
        }
    }
}